<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon" />
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Admin Tripdoor</title>
  </head>
  <body
    style="background-color: lightcyan;"
    onload="showBooking();showMessage();showTaxi();"
  >
    <div class="container">
      <center>
        <br />
        <br />
        <img
          style="width: 130px; max-height: 110px;"
          src="../assets/img/Tripdoor01.png"
          alt=""
          class="img-fluid"
        />
        <h1 style="font-weight: bold; color: crimson;">
          Admin pannel
        </h1>
      </center>

      <div id="data">
        <!-- Contact Form -->
        <div class="m-5">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">Contact</th>
                <th scope="col">Email</th>
                <th scope="col">Message</th>
              </tr>
            </thead>
            <h2 style="color: blue; font-weight: bold;">Contact Form</h2>
            <tbody id="contact-table"></tbody>
          </table>
        </div>

        <!-- Booking Form -->
        <div class="m-5">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Booking Date</th>
                <th scope="col">Name</th>
                <th scope="col">Contact</th>
                <th scope="col">City</th>
                <th scope="col">Destination</th>
                <th scope="col">Tripdate</th>
                <th scope="col">Triptime</th>
                <th scope="col">Vehicle</th>
                <th scope="col">Person</th>
              </tr>
            </thead>
            <h2 style="color: green; font-weight: bold;">Booking Form</h2>
            <tbody id="booking-table"></tbody>
          </table>
        </div>

        <!-- Attach Taxi Form -->
        <div class="m-5">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Contact</th>
                <th scope="col">Email</th>
                <th scope="col">Vehicle</th>
              </tr>
            </thead>
            <h2 style="color: orangered; font-weight: bold;">Taxi Form</h2>
            <tbody id="taxi-table"></tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-firestore.js"></script>
    <script src="../assets/js/admin.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
